@model IEnumerable<DapperDemo.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div style="display:flex; justify-content:end; width: 100%">
    <button style="border: 2px solid black; border-radius:5px; background-color: white">
        <p style="text-decoration:none; margin:0px; padding:0px;">
            <a style="text-decoration:none; color: black; font-size:14px;" asp-action="Create">Create New</a>
        </p>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                <a asp-action="Edit" style="text-decoration:none;" asp-route-id="@item.CompanyId">Edit</a> |
                <a asp-action="Details" style="text-decoration:none;" asp-route-id="@item.CompanyId">Details</a> |
                    <a asp-action="Delete" style="text-decoration:none; color: red;" asp-route-id="@item.CompanyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
